/*Paleta de colores:
Naranja: #ffca4f
Rosa: #ff757c
Azul: #79DAE8

Fuentes:
Logo y títulos: Cocogoose
Subtítulos: Quicksand
Texto: ITCAvantGarde*/

@font-face {
    font-family: Cocogoose;
    src: url('Fuentes/Cocogoose Pro-trial.ttf');
}

@font-face {
    font-family: Quicksand;
    src: url('Fuentes/Quicksand_Book.otf');
}

@font-face {
    font-family: ITCAvantGarde;
    src: url('Fuentes/ITCAvantGardeStd-Md.ttf');
}

/*login.php*/
body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#logo h1{
    font-family: Cocogoose, sans-serif;
    color: #ffca4f;
    padding: 1%;
}

#inicioSesion {
    background-color: #79DAE8;
    margin: 2% 15% 2% 15%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 10px rgb(139, 139, 139);
    border-radius: 10px;
}

#img {
    width: 30%;
    height: 80%;
    padding-right: 10%;
    padding-left: 10%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
}

#img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#formInicio {
    /*background-color: rgb(45, 173, 195);*/
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 11%;
    padding-right: 11%;
    object-fit: contain;
    /*width: max-content;
    height: max-content;*/
}

#formInicio form {
    width: 250px;
    height: auto;
    object-fit: contain;
    /*background-color: gray;*/
}

#formInicio form label {
    font-family: Quicksand, sans-serif;
    font-weight: 900;
    font-size: 1.2em;
}

#formInicio form input[type=text] {
    object-fit: contain;
    width: 97%;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formInicio form input[type=password] {
    object-fit: contain;
    width: 97%;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formInicio form input[type=submit] {
    object-fit: contain;
    width: 100%;
    margin-top: 2%;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #ff757c;
    color: white;
}

#formInicio form input[type=submit]:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    color: black;
    cursor: pointer;
}

#registro {
    display: flexbox;
    align-items: center;
    justify-content: center;
    /*background-color: gray;*/
    text-align: center;
}

#registro p {
    font-family: ITCAvantGarde, sans-serif;
    font-size: 0.9em;
}

#registro button {
    object-fit: contain;
    width: 100%;
    margin-top: 2%;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #ff757c;
    color: white;
}

#registro button:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    color: black;
    cursor: pointer;
}

/*register.php*/
#register {
    background-color: #ff757c;
    margin: 2% 20% 2% 20%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 10px rgb(139, 139, 139);
    border-radius: 10px;
}

#formRegis {
    /*background-color: blue;*/
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    /*width: max-content;
    height: max-content;*/
}

#formRegis form {
    width: 100%;
    height: auto;
    object-fit: contain;
    /*background-color: gray;*/
}

#formRegis form label {
    font-family: Quicksand, sans-serif;
    font-weight: 900;
    font-size: 1em;
}

#formRegis form input[type=text] {
    object-fit: contain;
    width: 98%;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formRegis form input[type=email] {
    object-fit: contain;
    width: 98%;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formRegis form input[type=password] {
    object-fit: contain;
    width: 98%;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formRegis form input[type=submit] {
    object-fit: contain;
    width: 100%;
    margin-top: 2%;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #00b1cc;
    color: white;
}

#formRegis form input[type=submit]:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #79DAE8;
    color: black;
    cursor: pointer;
}

#formRegis form select {
    object-fit: contain;
    width: 100%;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

/*header.php*/
#header {
    margin: 0;
    padding: 0;
}

#logoHeader {
    background-color: #ffca4f;
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    /*position: absolute;*/
}

#cerrar {
    object-fit: contain;
    padding: 1%;
    width: 100%;
    height: 40px;
}

#cerrar img {
    object-fit: contain;
    height: 100%;
    float: right;
}

#cerrar label {
    object-fit: contain;
    float: right;
    margin: 8px;
    padding: 2px 5px;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: ITCAvantGarde, sans-serif;
}

#logoHeader h1{
    font-family: Cocogoose, sans-serif;
    color: #ffffff;
    padding: 1%;
    width: max-content;
    /*background-color: blue;
    max-height: 100%;
    object-fit: contain;*/
}

.menu {
    left: 320px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding-top: 1%;
}

.menu ul li {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.menu ul li a {
    font-family: Quicksand, sans-serif;
    font-weight: 900;
    font-size: 1.3em;
    display: block;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    padding: 0 20px 5px 20px;
    margin-right: 10px;
    line-height: 25px;
    border: none;
}

.menu ul li a.a1 {
    color: #4ad7ed;
}  

.menu ul li a:hover {
    margin-top: -5px;
    height: 30px;
    color: #fff;
    background-color: #ffca4f;
    line-height: 25px;
}

.active {
    background-color: #ffca4f;
    color: #ffffff;
}

/*index.php*/
#find {
    width: 100%;
    background-color: #ffca4f;
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#find img {
    object-fit: contain;
    height: 30px;
}

#find input {
    margin-left: 1%;
    margin-right: 1%;
    width: 20%;
    object-fit: contain;
    height: 30px;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

/*slider*/
.container{
    margin: auto;
    background-color: white;
    width: 1000px;
    padding: 30px;
}
  
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
position: relative;
width: 1000px;
height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
width: 100%;
height: 300px;
object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.ind{
text-align: center;
margin: 20px;
}

.ind li{
display: inline-block;
text-align: center;
}

.ind li a{
font-family: ITCAvantGarde, sans-serif;
display: inline-block;
color: white;
text-decoration: none;
background-color: #79DAE8;
padding: 10px;
width: 20px;
height: 20px;
font-size: 20px;
border-radius: 100%;
}

/*footer*/
footer {
    background-color: #79DAE8;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer h1 {
    font-family: Quicksand, sans-serif;
    font-size: 1.1em;
}



  /*======================== Lista usuario ================================*/   
#container div {
    display: flex;
    align-items: center;
}
  
  #container h1{
    padding-left: 6%;
    font-size: 1.7em;
    display: inline-block;
    font-family: Cocogoose, sans-serif;
    color: #4ad7ed;
  }
  
  .btn_new{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 20px;
    margin-left: 5%;
    object-fit: contain;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    font-size: 0.9em;
    background-color: #ff757c;
  }

.btn_new:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    color: black;
    cursor: pointer;
}

  table{
    /*border-collapse: collapse;*/
    margin: auto;
    font-size: 12px;
    font-family: ITCAvantGarde, sans-serif;
    width: 90%;
    text-align: center;
  }

  table th{
    text-align: center;
    padding: 10px;
    background: #fb979c;
    color: black;
  }

  /*table tr:nth-child(odd){
    background: rgb(190, 216, 233);
  }*/

  table td{
    padding: 10px;
  }

  .link_edit{
    text-decoration: none;
    color: #0ca4ce;
  }

  .link_delete{
    text-decoration: none;
    color: #f26b6b;
  }

  .data_delete{
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    font-family: ITCAvantGarde, sans-serif;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgb(139, 139, 139);
  }

  .data_delete h2{
    font-size: 12pt;
  }

  .data_delete div {
    /*display: inline-flex;
    justify-content: center;
    align-items: center;*/
  }

  .data_delete span{
    color: #000;
    font-size: 12pt;
    background-color: #79DAE8;
  }

.btn_ok {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    text-decoration: none;
    width: 100px;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    margin: 0 30px;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    font-size: 1em;
    background-color: #ff757c;
    color: white;
}

.btn_cancel {
    background-color: #ffca4f;
    text-decoration: none;
    width: 100px;
    height: 35px;
    padding: 8px 10px;
    margin: 0 30px;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    font-size: 1em;
    color: white;
}

.btn_cancel:hover, .btn_ok:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    color: black;
    cursor: pointer;
}

.btn_cancel:hover {
    background-color: #ffd980;
}

/*cuenta.php*/
#cuenta {
    background-color: #79DAE8;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgb(139, 139, 139);
}

#cuenta h1 {
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
    color: #fff;
}

#cuenta label {
    font-family: ITCAvantGarde, sans-serif;
    color: black;
    font-size: 1.1em;
}

#cuenta br {
    padding: 10px;
}

#cuenta button {
    object-fit: contain;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #ff757c;
    color: white;
}

#cuenta button:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    color: black;
    cursor: pointer;
}

textarea{  
    display:block;
    box-sizing: padding-box;
    overflow:hidden;
  
    padding:10px;
    width:250px;
    font-size:14px;
    margin:50px auto;
    border-radius:6px;
    box-shadow:2px 2px 8px rgba(0,0,0,.3);
    border:0;
  }
  
  /*========================= Galeria de residencias =========================*/
  h1.galeria {
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 2px #000, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
  }

  div.galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 17%;
  }

  div.galeria img{
    width: 100%;
    height: auto;
  }

  /* div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
  } */

  div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
    height: 80px;
  }

  div.cont_libros{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.img{
    width: 30%;
    padding: 0 10px;
  }

  div.img img{
    width: 100%;
  }

  .contenido {
    width: 50%;
    padding: 0 10px;
    font-family: ITCAvantGarde, sans-serif;
  }

  .contenido h1 {
    font-family: Quicksand, sans-serif;
    font-weight: 900;
  }

  .contenido p {
    padding: 1px 0;
  }

  .botones {
    display: inline-flex;
  }

  .l button {
    object-fit: contain;
    width: 100%;
    padding: 0 20px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #ff757c;
    color: #fff;
  }

  .l {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 0 10px;
  }

  .l button:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    cursor: pointer;
    color: #000;
}

.l:hover {
    color: black;
}

.d button {
    object-fit: contain;
    width: 100%;
    padding: 0 20px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #4ad7ed;
    color: #fff;
  }

  .d {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 0 10px;
  }

  .d button:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #79DAE8;
    cursor: pointer;
    color: #000;
}

.d:hover {
    color: black;
}

.f button {
    object-fit: contain;
    width: 100%;
    padding: 0 20px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #ffca4f;
    color: #fff;
  }

  .f {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 0 10px;
  }

  .f button:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #ffd980;
    cursor: pointer;
    color: #000;
}

.f:hover {
    color: black;
}