/*Paleta de colores:
Naranja: #ffca4f
Rosa: #ff757c
Azul: #79DAE8

Fuentes:
Logo y títulos: Cocogoose
Subtítulos: Quicksand
Texto: ITCAvantGarde*/

@font-face {
    font-family: Cocogoose;
    src: url('Fuentes/Cocogoose Pro-trial.ttf');
}

@font-face {
    font-family: Quicksand;
    src: url('Fuentes/Quicksand_Book.otf');
}

@font-face {
    font-family: ITCAvantGarde;
    src: url('Fuentes/ITCAvantGardeStd-Md.ttf');
}

/*login.php*/
body {
    background-color: rgb(255, 255, 255);
}

#logo h1{
    font-family: Cocogoose, sans-serif;
    color: #ffca4f;
    padding: 1%;
}

#inicioSesion {
    background-color: #79DAE8;
    margin: 2% 15% 2% 15%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 10px rgb(139, 139, 139);
    border-radius: 10px;
}

#img {
    width: 30%;
    height: 80%;
    padding-right: 10%;
    padding-left: 10%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
}

#img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#formInicio {
    /*background-color: blue;*/
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 11%;
    padding-right: 11%;
    object-fit: contain;
    /*width: max-content;
    height: max-content;*/
}

#formInicio form {
    width: 250px;
    height: auto;
    object-fit: contain;
    /*background-color: gray;*/
}

#formInicio form label {
    font-family: Quicksand, sans-serif;
    font-weight: 900;
    font-size: 1.2em;
}

#formInicio form input[type=text] {
    object-fit: contain;
    width: 97%;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formInicio form input[type=password] {
    object-fit: contain;
    width: 97%;
    height: 30px;
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formInicio form input[type=submit] {
    object-fit: contain;
    width: 100%;
    margin-top: 2%;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #ff757c;
    color: white;
}

#formInicio form input[type=submit]:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    color: black;
    cursor: pointer;
}

#registro {
    display: flexbox;
    align-items: center;
    justify-content: center;
    /*background-color: gray;*/
    text-align: center;
}

#registro p {
    font-family: ITCAvantGarde, sans-serif;
    font-size: 0.9em;
}

#registro button {
    object-fit: contain;
    width: 100%;
    margin-top: 2%;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #ff757c;
    color: white;
}

#registro button:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #fb979c;
    color: black;
    cursor: pointer;
}

/*register.php*/
#register {
    background-color: #ff757c;
    margin: 2% 20% 2% 20%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 10px rgb(139, 139, 139);
    border-radius: 10px;
}

#formRegis {
    /*background-color: blue;*/
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    /*width: max-content;
    height: max-content;*/
}

#formRegis form {
    width: 100%;
    height: auto;
    object-fit: contain;
    /*background-color: gray;*/
}

#formRegis form label {
    font-family: Quicksand, sans-serif;
    font-weight: 900;
    font-size: 1em;
}

#formRegis form input[type=text] {
    object-fit: contain;
    width: 98%;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formRegis form input[type=email] {
    object-fit: contain;
    width: 98%;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formRegis form input[type=password] {
    object-fit: contain;
    width: 98%;
    height: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: ITCAvantGarde, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border-color: transparent;
}

#formRegis form input[type=submit] {
    object-fit: contain;
    width: 100%;
    margin-top: 2%;
    height: 35px;
    padding-left: 0 auto;
    padding-right: 0 auto;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
    font-family: ITCAvantGarde, sans-serif;
    background-color: #00b1cc;
    color: white;
}

#formRegis form input[type=submit]:hover {
    transform: translate(0, -5px);
    transition-duration: 1s;
    background-color: #79DAE8;
    color: black;
    cursor: pointer;
}

/*index.php*/
/*#index {
    background-color: #ffca4f;
}*/

#logoIndex {
    background-color: blue;
    display: inline-flex;
}

#logoIndex h1{
    font-family: Cocogoose, sans-serif;
    color: #79DAE8;
    padding: 1%;
    background-color: gray;
    width: max-content;
    /*max-height: 100%;
    object-fit: contain;*/
}

#find {
    
}